.cont {
    border-radius: 10px;
    width:30rem;
    height:15rem;
    margin: 20px;
}


.title{
    margin: 2px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


.title{
    margin: 2px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.title1{
    color: white;
    margin:2px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.img{
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.img:hover{
    transform: scale(1.20);

}

.card{
    width: 220px;
    height: auto;
    background-color: #3d5a80 ;
    border-radius: 5px;
    padding: 15px;
}